body {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.wrapper {
	//max-width: 1280px;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	flex: 1 1 auto;
}
header {
	height: 120px;
	padding: 30px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h1 {
		font-size: 32px;
	}
	p {
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		font-family: Arial, Helvetica, sans-serif;

		a {
			margin-left: 17.5px;
			margin-right: 17.5px;
			font-size: 21px;
			text-decoration: none;
			color: black;
		}
		.our_pets {
			text-decoration: underline;
			text-decoration-color: #f1cdb3;
		}
	}
}
main {
	background-color: rgb(242, 242, 242);
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	.heading {
		width: 400px;
		height: 90px;
		font-size: 25px;
		margin: 80px auto 45px auto;
		h2 {
			text-align: center;
			margin: 0px;
			padding: 0px;
			font-weight: normal;
		}
	}
	.pets_list {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.pet {
			width: 270px;
			height: 435px;
			margin: 15px 20px 30px;
			align-items: center;
			background-color: #fff;
			@media (max-width: 768px) {
			}
			.pet_img {
				color: green;
				text-align: center;
			}
			.pet_name {
				font-size: 17px;
				text-align: center;
				margin: 30px 0px;
			}
			.learn_more {
				font-weight: bold;
				margin: auto;
				border: solid 3px;
				border-radius: 30px;
				border-color: #f1cdb3;
				width: 187px;
				height: 52px;
				font-size: 17px;

				p {
					text-align: center;
					margin-block-start: 0.8em;
				}
			}
		}
	}
}

.footer {
	background: linear-gradient(to right, #3c2f35, black);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px 40px 0px;

	.contacts {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 302px;
		height: 234px;
		h3 {
			font-size: 27px;
			font-weight: normal;
			color: #fff;
			padding: 0px;
			margin: 0px;
			width: 278px;
			height: 90px;
		}
		img {
			width: 40px;
			height: 32px;
			margin: auto 20px auto 0px;
		}
		.tel,
		.mail {
			display: flex;
			flex-direction: row;
			margin-top: auto;
			margin-bottom: auto;
		}
		a {
			text-decoration: none;
			color: #f1cdb3;
			font-weight: bold;
		}
	}
	.location {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 302px;
		height: 234px;
		h3 {
			font-size: 27px;
			font-weight: normal;
			color: #fff;
			padding: 0px;
			margin: 0px;
			width: 278px;
			height: 90px;
		}

		.location_place {
			display: flex;
			flex-direction: row;
			margin-top: auto;
			margin-bottom: auto;
			img {
				width: 40px;
				height: 32px;
				margin: auto 20px auto 0px;
			}
			a {
				text-decoration: none;
				color: #f1cdb3;
				font-weight: bold;
			}
			#img {
				width: 27.26px;
			}
		}
	}
}
/*@media (max-width: 768px) {
	main {
		.pets_list {
			.pet {
				width: 43%;
			}
		}
	}
}*/
